$colour1: #569be2;
$colour2: #6aa062;
$colour3: #c32f34;
$colour4: #ffde47;
$colour5: #a8a8db;
$colour6: #554a65;
$colour7: #242638;

$dark_shade_1: #212a40;
$dark_shade_2: #44496b;
$dark_shade_3: #6a6988;

$orange_1: #cd761f;
$orange_2: #fad376;

